<div class="content-inner">
    <div class="page-header">
        <div class="header-links hidden-xs">
            <a href="#notifications"><i class="icon-comments"></i> User Alerts</a>
            <a href="#settings"><i class="icon-cog"></i> Settings</a>
            <a href="#logout"><i class="icon-signout"></i> Logout</a>
        </div>
        <h1><i class="icon-bar-chart"></i> Manage Stock</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="#dashboard">Home</a></li>
        <li class="active">Example</li>
    </ol>
    <ol class="item_buttons breadcrumb">
        <li><a href="#" class="add_item_button">Add Item</a></li>
        <li><a href="#categories" class="item_category_button">Categories</a></li>
        <li><a href="#suppliers" class="item_supplier_button">Suppliers</a></li>
    </ol>
    <div class="main-content">
        <div class="widget">
            <h3 class="section-title first-title"><i class="icon-table"></i> Stock Table</h3>
            <div class="widget-content-white glossed">
                <div class="padded">
                    <table class="datatable table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <div class="checkbox"><input type="checkbox"/></div>
                            </th>
                            <th><%= items.fields[0]%></th>
                            <th><%= items.fields[1]%></th>
                            <th><%= items.fields[2]%></th>
                            <th><%= items.fields[3]%></th>
                            <th><%= items.fields[4]%></th>
                            <th><%= items.fields[5]%></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% _.each(items.data,function(item){%>
                        <%= itemTemplate(item) %>
                        <%});%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="add-item-form" title="Add Item" class="hide-this">
            <form action="" method="post">
                <label for="item_code">Item Code:</label>
                <input type="text" name="item_code" id="item_code" class="text ui-widget-content ui-corner-all"/>
                <label for="item_name">Item Name:</label>
                <input type="text" name="item_name" id="item_name" class="text ui-widget-content ui-corner-all"/>
                <label for="item_cost">Item Cost:</label>
                <input type="text" name="item_cost" id="item_cost" class="text ui-widget-content ui-corner-all"/>
                <label for="item_category">Item Category:</label>
                <input type="text" name="item_category" id="item_category"
                       class="text ui-widget-content ui-corner-all"/>
                <label for="item_supplier">Item Supplier:</label>
                <input type="text" name="item_supplier" id="item_supplier"
                       class="text ui-widget-content ui-corner-all"/>
                <label for="item_stock">Item Stock:</label>
                <input type="text" name="item_stock" id="item_stock"
                       class="text ui-widget-content ui-corner-all add-spinner"/>
            </form>
        </div>

    </div>
</div>
