<div class="content-inner">
    <div class="page-header">
        <div class="header-links hidden-xs">
            <a href="#notifications"><i class="icon-comments"></i> User Alerts</a>
            <a href="#settings"><i class="icon-cog"></i> Settings</a>
            <a href="#logout"><i class="icon-signout"></i> Logout</a>
        </div>
        <h1><i class="icon-bar-chart"></i> Manage Stock</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="#dashboard">Home</a></li>
        <li class="active">Example</li>
    </ol>
    <ol class="item_buttons breadcrumb">
        <li><a href="#" class="add_item_button">Add Item</a></li>
    </ol>
    <div class="main-content">


        <table class="datatable table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    <div class="checkbox"><input type="checkbox"/></div>
                </th>
                <th><%= fields[0]%></th>
                <th><%= fields[1]%></th>
                <th><%= fields[2]%></th>
                <th><%= fields[3]%></th>
                <th><%= fields[4]%></th>
                <th><%= fields[5]%></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(data,function(item){%>
            <tr>
                <td>
                    <div class="checkbox"><input type="checkbox"/></div>
                </td>
                <td><%= item['id']%></td>
                <td><%= item['item_name']%></td>
                <td><%= item['item_supplier']%></td>
                <td><%= item['item_category']%></td>
                <td><%= item['stock']%></td>
                <td class="text-right">
                    <a href="#" class="btn btn-default btn-xs"><i class="icon-pencil"></i> edit</a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <%});%>
            </tbody>
        </table>
        <div id="loginDialog" title="Login">
            <form>
                <fieldset>
                    <label for="user">User</label>
                    <input type="text" name="user" id="user" class="text ui-widget-content ui-corner-all" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
        </div>

    </div>
</div>

