<div class="content-inner">
    <div class="page-header">
        <div class="header-links hidden-xs">
            <a href="#notifications"><i class="icon-comments"></i> User Alerts</a>
            <a href="#settings"><i class="icon-cog"></i> Settings</a>
            <a href="#logout"><i class="icon-signout"></i> Logout</a>
        </div>
        <h1><i class="icon-bar-chart"></i> Manage Suppliers</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="#dashboard">Home</a></li>
        <li class="active">Example</li>
    </ol>
    <ol class="supplier_buttons breadcrumb">
        <li><a href="#" class="add_item_supplier_button">Add Supplier</a></li>
        <li><a href="#manage-stock" class="manage_stock_button">Manage Stock</a></li>
        <li><a href="#categories" class="item_category_button">Categories</a></li>
    </ol>
    <div class="main-content">
        <table class="datatable table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    <div class="checkbox"><input type="checkbox"/></div>
                </th>
                <th><%= suppliers.fields[0]%></th>
                <th><%= suppliers.fields[1]%></th>
                <th><%= suppliers.fields[2]%></th>
                <th><%= suppliers.fields[3]%></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(suppliers.data,function(item){%>
            <%= supplierTemplate(item) %>
            <%});%>
            </tbody>
        </table>
        <div id="item-suppliers-form" title="Add Supplier" class="hide-this">
            <form action="" method="post">
                <label for="item_supplier_name">Supplier Name:</label>
                <input type="text" name="item_supplier_name" id="item_supplier_name"
                       class="text ui-widget-content ui-corner-all"/>
                <label for="item_supplier_status">Status:</label>
                <input type="text" name="item_supplier_status" id="item_supplier_status"
                       class="text ui-widget-content ui-corner-all"/>
            </form>
        </div>
    </div>
</div>
